<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
    
    <ul class="topnav">
        <li><a class="active">Home</a></li>
        <li><a>News</a></li>
        <li><a>Contact</a></li>
        <li><a>About</a></li>
    </ul>
    <grid-container>
        <div class="grid-item">Skincare</div>
        <div class="grid-item">Nutritional</div>
        <div class="grid-item">Child care</div>
        <div class="grid-item">Vitamins</div>
        @*<div class="grid-item">5</div>
            <div class="grid-item">6</div>*@
    </grid-container>
</body>
</html>
